[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ??koa????????
[access "refs/*"]
	owner = group user/xia (xiadd)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xia (xiadd)
	label-Verified = -1..+1 group user/xia (xiadd)
	push = group user/xia (xiadd)
	read = group user/xia (xiadd)
	rebase = group user/xia (xiadd)
	removeReviewer = group user/xia (xiadd)
	submit = group user/xia (xiadd)
[access "refs/heads/*"]
	create = group user/xia (xiadd)
	push = +force group user/xia (xiadd)
	pushMerge = group user/xia (xiadd)
	read = group user/xia (xiadd)
[access "refs/tags/*"]
	push = group user/xia (xiadd)
	push = +force group user/xia (xiadd)
